.news-bg {
  width: calc(100% - 250px);
  height: 100%;
  position: fixed;
  color: #fff;
  background-image: url("/assets/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 991px) {
    width: 100%;
  }

  .block-bg {
    width: calc(100% - 250px);
    height: 100%;
    position: fixed;
    background-image: url("/assets/images/img-cover.png");
    background-repeat: repeat;
    background-position: center;

    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

.news-layout {
  position: absolute;
  color: #fff;
  width: calc(100% - 350px);
  height: calc(100% - 100px);
  padding: 50px;
  overflow-y: auto;

  @media (max-width: 991px) {
    width: calc(100% - 100px);
  }

  .news-title {
    font-size: 5rem;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }

  .content {
    margin-top: 1em;
    column-gap: 3rem;
    column-count: 3;
    width: calc(100% - 2rem);

    @media (max-width: 991px) {
      column-count: 2;
    }

    @media (max-width: 768px) {
      column-count: 1;
    }

    .image-block {
      margin-bottom: 15px;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      padding: 15px;
      display: inline-block;

      img {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      .title {
        margin: 0.5rem 0;
        font-size: 1.5rem;
      }

      .date {
        color: #868e96;
        text-align: end;
      }
    }
  }
}

.col-4 {
  column-gap: 1em;
  column-count: 4;
}

.padding-1rem {
  padding: 1rem;
}

.font-size-25rem {
  font-size: 2.5rem;
}

.img-width-100 {
  width: 100%;
}

.w-50-2rem {
  width: calc((100% / 2) - 2rem);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-left {
  text-align: left !important;
}

.mr-b-1em {
  margin-bottom: 1em;
}
