<div class="saxophones-bg">
  <div class="block-bg"></div>
</div>
<div class="saxophones-layout">
  <div class="saxophones-title">Saxophone</div>
  <div class="saxophones-block">
    <div class="menu">
      <div class="item" *ngFor="let item of menu; let index = index" [ngClass]="{ active: selectedIndex === index }" (click)="changeCategory(item, index)">
        {{ item.name }}
      </div>
    </div>
    <div class="content">
      <div class="image-block" *ngFor="let item of subList" (click)="openPopup(item)">
        <img [src]="'assets/images/sax/' + item.fileName">
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="isPopupOpen" (click)="closePopup()">
  <img [src]="'assets/images/sax/' + selected.fileName">
</div>
