<div class="saxophones-bg">
  <div class="block-bg"></div>
</div>
<div class="saxophones-layout">
  <div class="saxophones-title">Saxophone</div>
  <div class="saxophones-block">
    <div class="menu">
      <div class="item" [ngClass]="{ active: selectedName === '全部' }" (click)="changeCategory('全部')">
        {{ 'SAX.NAME1' | translate }}
      </div>
      <div class="item" [ngClass]="{ active: selectedName === '高音' }" (click)="changeCategory('高音')">
        {{ 'SAX.NAME2' | translate }}
      </div>
      <div class="item" [ngClass]="{ active: selectedName === '中音' }" (click)="changeCategory('中音')">
        {{ 'SAX.NAME3' | translate }}
      </div>
      <div class="item" [ngClass]="{ active: selectedName === '次中音' }" (click)="changeCategory('次中音')">
        {{ 'SAX.NAME4' | translate }}
      </div>
    </div>
    <div class="content">
      <div class="image-block" *ngFor="let item of subList" (click)="openPopup(item)">
        <img [src]="'assets/images/sax/' + item.fileName">
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="isPopupOpen" (click)="closePopup()">
  <img [src]="'assets/images/sax/' + selected.fileName">
</div>
