<div class="lor-bg">
  <div class="block-bg"></div>
</div>
<div class="lor-layout">
  <div class="lor-title">LOR</div>
  <div class="lor-row">
    <div class="row-content company text-left">
      <div class="font-size-25rem mr-b-1em">您的薩克斯風將擁有神奇的力量.</div>
      <div class="mr-b-1em">LOR*是”Lord of the Rings”的縮寫,它代表我們對於這項發明感到非常驕傲.希望讓人們知道,只須換上裝有LOR*的脖管(Neck),您的薩克斯風就會擁有神奇的力量.</div>
      <div class="mr-b-1em">LOR*是由特殊材料所製成,它也可以直接更換您現有脖管上的插頭(Tenon)</div>
      <div class="mr-b-1em">LOR*可以讓您的薩克斯風在所有的音域都擁有更飽滿,更甜美,更宏亮的聲音,而且會讓音準異常準確.超高音(Altissimo)音域的音準非常準確,而且聲音非常飽滿.而出乎意料的,LOR*會讓吹奏更加輕鬆,遠超過您的既有經驗.</div>
      <div class="mr-b-1em">LOR*脖管目前在以下網站有供應,或逕洽本公司</div>
      <div class="mr-b-1em">
        <a href="http://www.seawindmusic.com/">http://www.seawindmusic.com/</a>
      </div>
      <div>*附註*</div>
      <div>中華民國台灣發明專利I478147號</div>
    </div>
    <div class="row-content padding-1rem w-50-2rem">
      <div class="content">
        <div class="image-block" *ngFor="let item of [1,2,3,4,5]" (click)="isPopupOpen = true">
          <img src="assets/images/LOR-1.jpg">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="isPopupOpen" (click)="isPopupOpen = false">
  <img src="assets/images/LOR-1.jpg">
</div>
