<div class="about-bg">
  <div class="block-bg"></div>
</div>
<div class="about-layout">
  <div class="about-title">關於我們</div>
  <div class="about-row">
    <div class="row-content company font-size-25rem">
      XXXX企業有限公司
    </div>
    <div class="row-content padding-1rem w-50-2rem">
      <div class="logo">
        <img src="assets/images/logo.png">
      </div>
    </div>
  </div>
  <div class="about-row">
    <div class="row-content padding-1rem flex-column w-50-2rem">
      <img class="img-width-100" src="assets/images/about1.jpg">
      <img class="img-width-100" src="assets/images/about.jpg">
    </div>
    <div class="row-content company text-left">
      <div class="font-size-25rem mr-b-1em">敬愛的各位企業主,</div>
      <div class="mr-b-1em">感謝您蒞臨瀏覽我們的網頁,我們是位於台灣的專業薩克斯風/長笛/小喇叭/黑管生產商及供應商,從1997年起即開始針對企業/企業供應高品質的木管/銅管樂器.</div>
      <div class="mr-b-1em">儘管我們的管樂器品質居於業界領先地位,我們仍然持續接收世界各地的頂尖及專業的演奏家所提供的意見回饋,改進我們的薩克斯風構造</div>
      <div class="mr-b-1em">例如,我們的其中一項發明 “LOR”薩克斯風脖管(Neck)插頭(Tenon),是一項最成功的裝置,它能提供分離式脖管的薩克斯風猶如渦輪增壓般的表現,然而吹奏起來卻更加輕鬆.</div>
      <div class="mr-b-1em">我們的最新科技可以在短時間之內有效的將薩克斯風脖管以低溫深度退火,這能賦予薩克斯風更加輕快的吹奏性以及擁有老樂器的聲音,就好像薩克斯風已經經過約100個小時的吹奏熟化.</div>
      <div>我們的目標是以最合理的價格供應世界頂尖木管/銅管樂器,我們的努力絕對不會停歇</div>
      <div class="mr-b-1em">若您對本公司產品有興趣,隨時歡迎與我們聯絡.</div>
      <div>XXXX企業有限公司</div>
      <div>負責人 XXX</div>
    </div>
  </div>
</div>
