.about-bg {
  width: calc(100% - 250px);
  height: 100%;
  position: fixed;
  color: #fff;
  background-image: url("/assets/images/about-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .block-bg {
    width: calc(100% - 250px);
    height: 100%;
    position: fixed;
    background-image: url("/assets/images/img-cover.png");
    background-repeat: repeat;
    background-position: center;
  }
}

.about-layout {
  position: absolute;
  color: #fff;
  width: calc(100% - 350px);
  height: calc(100% - 100px);
  padding: 50px;
  overflow-y: auto;

  .about-title {
    font-size: 5rem;
    margin-bottom: 30px;
  }

  .about-row {
    display: flex;

    .row-content {
      text-align: center;

      &.company {
        background-color: #00000066;
        width: calc((100% / 2) - 6rem);
        padding: 3rem;
      }

      .logo {
        background-color: #ffffff4d;

        img {
          width: 80px;
        }
      }
    }
  }
}

.padding-1rem {
  padding: 1rem;
}

.font-size-25rem {
  font-size: 2.5rem;
}

.img-width-100 {
  width: 100%;
}

.w-50-2rem {
  width: calc((100% / 2) - 2rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-left {
  text-align: left !important;
}

.mr-b-1em {
  margin-bottom: 1em;
}
