<div class="about-bg">
  <div class="block-bg"></div>
</div>
<div class="about-layout">
  <div class="about-title">關於我們</div>
  <div class="about-row">
    <div class="row-content company font-size-25rem">
      銅鎬興業有限公司
    </div>
    <div class="row-content padding-1rem w-50-2rem">
      <div class="logo">
        <img src="assets/images/logo.png">
      </div>
    </div>
  </div>
  <div class="about-row">
    <div class="row-content padding-1rem flex-column w-50-2rem">
      <img class="img-width-100" src="assets/images/about1.jpg">
      <img class="img-width-100" src="assets/images/about.jpg">
    </div>
    <div class="row-content company text-left">
      <div class="font-size-25rem mr-b-1em">敬愛的各位企業主,</div>
      <div class="mr-b-1em">感謝企業主瀏覽本公司網頁，我們位於中台灣專業研製Saxophone＆Toois貿易、批發商，值得業界信賴。</div>
      <div class="mr-b-1em">公司團隊源創於2012年以金屬加工；轉型手工具研製。一群愛好Saxophone『音樂美聲』之公司愛樂團隊，對於樂器『銅』管身等金屬之製程、表面處理更為嚴謹。</div>
      <div class="mr-b-1em">本團隊為造就美聲樂器，特加入台中市后里樂器文化協會；與多家產銷業主商談創立Saxophone自家品牌，於2019年10月設立T-H銅鎬興業有限公司，感謝本協會及各產銷同業等之輔導 ，創造公司名稱『與金同高』之美聲樂器，邁向國際。</div>
      <div class="mr-b-1em">本公司T-H所研製Saxophone為臺灣生產創立品牌，當以最合理之價位供應國內、外同業，若對本公司產品有興趣，歡迎企業主與我們聯絡，商談優質客製化商品。</div>
      <div class="mr-b-1em">若您對本公司產品有興趣,隨時歡迎與我們聯絡.</div>
      <div>銅鎬興業有限公司</div>
      <div>負責人：黃崇雄 敬啟</div>
    </div>
  </div>
</div>
