<div class="about-bg">
  <div class="block-bg"></div>
</div>
<div class="about-layout">
  <div class="about-title">{{ 'ABOUT.TITLE' | translate }}</div>
  <div class="about-row">
    <div class="row-content company font-size-25rem">
      {{ 'ABOUT.COMPANY' | translate }}
    </div>
    <div class="row-content padding-1rem w-50-2rem">
      <div class="logo">
        <img src="assets/images/logo.png">
      </div>
    </div>
  </div>
  <div class="about-row">
    <div class="row-content padding-1rem flex-column w-50-2rem">
      <img class="img-width-100" src="assets/images/about1.jpg">
      <img class="img-width-100" src="assets/images/about.jpg">
    </div>
    <div class="row-content company text-left">
      <div class="font-size-25rem mr-b-1em">{{ 'ABOUT.CONTENT1' | translate }}</div>
      <div class="mr-b-1em">{{ 'ABOUT.CONTENT2' | translate }}</div>
      <div class="mr-b-1em">{{ 'ABOUT.CONTENT3' | translate }}</div>
      <div class="mr-b-1em">{{ 'ABOUT.CONTENT4' | translate }}</div>
      <div class="mr-b-1em">{{ 'ABOUT.CONTENT5' | translate }}</div>
      <div class="mr-b-1em">{{ 'ABOUT.CONTENT6' | translate }}</div>
      <div>{{ 'ABOUT.COMPANY' | translate }}</div>
      <div>{{ 'ABOUT.NAME' | translate }}</div>
    </div>
  </div>
</div>
