<div class="main-layout">
  <div class="hamberger" *ngIf="isPhone" (click)="openMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <app-menu [isPhone]="isPhone" [showMenu]="showMenu" (closeMenu)="closeMenu()"></app-menu>
  <div class="main-block">
    <router-outlet></router-outlet>
  </div>
  <div class="copyright">
    <span>© 2019 T-H Industrial Co., Ltd. All Rights Reserved | Designed by </span>
    <a class="link" href="mailto:peifeng1115@gmail.com" target="_blank">P-F</a>
    <span> .</span>
  </div>
</div>
