<div class="menu-layout" [ngClass]="{ 'isPhone': isPhone, 'show': showMenu }">
  <div class="close" *ngIf="isPhone" [ngClass]="{ 'show': showMenu }" (click)="close()">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="logo-layout">
    <img src="assets/images/logo.png">
  </div>
  <div class="lang-layout">
    <!-- 多語系 -->
  </div>
  <div class="list-layout">
    <div class="item-block" *ngFor="let item of menuList" [ngClass]="{ 'active': nowPath === item.url }" (click)="goLink(item)">
      {{ item.name }}
    </div>
  </div>
</div>
