<div class="cases-bg">
  <div class="block-bg"></div>
</div>
<div class="cases-layout">
  <div class="cases-title">箱子</div>
  <div class="menu">
    <div class="item" [ngClass]="{ active: selectedIndex === 0 }">全部</div>
    <div class="col-4">
      <div class="item" *ngFor="let item of menu; let index = index" [ngClass]="{ active: selectedIndex === index }">
        {{ item.name }}
      </div>
    </div>
  </div>
  <div class="content">
    <div class="image-block" *ngFor="let item of [1,2,3,4,5,6,7,8,9]" (click)="isPopupOpen = true">
      <img src="assets/images/case.jpg">
    </div>
  </div>
</div>

<div class="popup" *ngIf="isPopupOpen" (click)="isPopupOpen = false">
  <img src="assets/images/case.jpg">
</div>
