<div class="cases-bg">
  <div class="block-bg"></div>
</div>
<div class="cases-layout">
  <div class="cases-title">箱子</div>
  <!-- <div class="menu">
    <div class="item" [ngClass]="{ active: selectedIndex === 0 }">全部</div>
    <div class="col-4">
      <div class="item" *ngFor="let item of menu; let index = index" [ngClass]="{ active: selectedIndex === index + 1 }">
        {{ item.name }}
      </div>
    </div>
  </div> -->
  <div class="content">
    <div class="image-block" *ngFor="let item of list" (click)="openPopup(item)">
      <img [src]="'assets/images/cases/' + item.url">
    </div>
  </div>
</div>

<div class="popup" *ngIf="isPopupOpen" (click)="closePopup()">
  <img [src]="'assets/images/cases/' + selected.url">
</div>
